In [6]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
import pandas as pd

In [31]:
ab_data = pd.read_csv('AB Test data.csv')

In [32]:
ab_data.head()

   converted group
0          0     B
1          0     B
2          0     A
3          0     A
4          0     B

In [33]:
ab_summary = ab_data.pivot_table(values='converted', index='group', aggfunc=np.sum)

In [34]:
# add additional columns to the pivot table
ab_summary['total'] = ab_data.pivot_table(values='converted', index='group', aggfunc=lambda x: len(x))
ab_summary['rate'] = ab_data.pivot_table(values='converted', index='group')

In [35]:
ab_summary

       converted  total      rate
group
A             26    996  0.026104
B             97   1004  0.096614

In [36]:
ab_summary['total']

group
A     996
B    1004
Name: total, dtype: int64

In [37]:
ab_summary['converted']

group
A    26
B    97
Name: converted, dtype: int64

Z-test

In [38]:
count = np.array(ab_summary['converted'])
nobs = np.array(ab_summary['total'])

In [39]:
stat, pval = proportions_ztest(count, nobs)
print('{0:0.3f}'.format(pval))

0.000

Chisquare-Test

In [40]:
cross = pd.crosstab(df['group'],df['converted'])

In [41]:
cross

converted    0   1
group
A          907  97
B          970  26

In [42]:
from scipy import stats

In [45]:
chi2_stat, p_val, dof, ex = stats.chi2_contingency(cross)
print("===Chi2 Stat===")
print(chi2_stat)
print("\n")
print("===Degrees of Freedom===")
print(dof)
print("\n")
print("===P-Value===")
print(p_val)
print("\n")
print("===Contingency Table===")
print(ex)

===Chi2 Stat===
41.85401689280916


===Degrees of Freedom===
1


===P-Value===
9.83485197990039e-11


===Contingency Table===
[[942.254  61.746]
 [934.746  61.254]]